# Vagrant
.vagrant/

# Python
__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/

# Logs
*.log

# IDE
.idea/
.vscode/

# VirtualBox / VM-Dateien
*.box
*.ova
*.vdi
*.vmdk

# Betriebssystem
.DS_Store
Thumbs.db